body{
    margin:0;
    padding:0;
}
.top-bar{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100%;
    text-align:center;
    height:7%;
    background-color: rgb(18, 5, 5);
}
button{
    height:60%;
    background-color:orange;
    border: none;
}
button:hover{
    background-color:rgb(244, 162, 11);
}
img{
    width:70%;
    height:70%;
}
span{
    margin-left:.1%;
    font-size:1.5rem;
    color:white
}
.info{
    width:10%;
    text-transform:capitalize;
}
canvas{
    margin: 0 auto;
}
.page{
    width:57%;
    margin:0 auto;
}